body{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(47, 89%, 63%);
}

#container{
    border: 1px solid;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: auto;
    box-shadow: 5px 5px 0px;
}

#img{
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

#img img{
    width: 100%;
    border-radius: 7px;
}

#type{
    background-color:hsl(47, 89%, 63%) ;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 3px;
    margin: 10px;
    font-weight: bold;
    font-size: x-small;
}



#pubDate{
    margin: 10px;
    font-size: small;
}

#title{
    margin: 10px;
    font-weight: bold;
}

#description{
    margin: 10px;
    opacity: 0.5;
}

#tutor{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: smaller;
    font-weight: bold;
}
#tutor img{
    width: 30px;
    margin-right: 5px;
}

#type,#pubDate,#title,#description,#tutor{
    margin-left: 13px;
}